html {
  height: 100%;
  width: 100%;
}

.container {
  position: fixed; /* 위치 고정 */
  top: 0; /* 상단으로부터의 거리는 0 */
  left: 0; /* 왼쪽으로부터의 거리는 0 */
  background-color: #ffffff; /* 배경색을 하얀색으로 설정 */
  color: #333333; /* 글자 색을 어두운 회색으로 설정 */
  width: 100%; /* 컨테이너의 너비를 부모 요소 너비와 동일하게 설정 */
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.moving-title {
  font-size: calc(16px + 10vw);
  /* adjust this formula as needed */
  animation: jump 1s infinite;
}

@font-face {
  font-family: 'MabinogiClassicR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  display: flex;
  font-family: 'MabinogiClassicR', sans-serif;
  flex-direction: column; /* 요소들을 수직으로 배치 */
  justify-content: center; /* 수평 방향으로 중앙 정렬 */
  align-items: center; /* 수직 방향으로 중앙 정렬 */
  min-height: 100vh; /* body의 최소 높이를 뷰포트의 높이와 동일하게 설정 */
}



.swiper-container {
    display: flex;
    justify-content: center; /* 슬라이드를 수평 중앙에 배치 */
    align-items: center; /* 슬라이드를 수직 중앙에 배치 */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px; /* 원하는 너비로 설정 */
  height: auto; /* 높이는 내용에 맞게 자동으로 설정 */
  margin-right: 20px; /* 슬라이드 객체들 사이의 간격 조정 */
}

.slide-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1); /* 그림자 효과 추가 */
}

.slide-content h2 {
 margin-top:0; 
 font-size:16px; /* 제목의 글꼴 크기 설정 */
}

.slide-content img {
 width:100%;
 max-height:200px;
 object-fit:cover; /* 이미지를 컨테이너에 맞추고 넘치는 부분을 자름 */
 border-radius:10px; /* 이미지에도 둥근 모서리 적용 */
}

.slide-content p {
 margin-top:auto;
 font-size:14px; /* 설명의 글꼴 크기 설정 */
}

.swiper-slide-active .slide-content {
 transform : scale(1.3);/* 활성화된 슬라이드의 내용을 확대*/
}
.zoom{
 transform : scale(1.3);/* 객체 확대*/
}