html {
  height: 100%;
  width: 100%;
}

.container {
    background-color: black;
    display: flex;
    justify-content: center; /* 가로 방향으로 가운데 정렬 */
    align-items: center; /* 세로 방향으로 가운데 정렬 */
    height: 20vh; /* 뷰포트의 높이만큼 설정하여 전체 화면을 차지하도록 함 */
}

@keyframes jump {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.moving-title {
    font-size: calc(16px + 2vw); /* adjust this formula as needed */
    animation: jump 1s infinite;
}

@font-face {
    font-family: 'MabinogiClassicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MabinogiClassicR', sans-serif;
}

.swiper-container {
   width: 100%;
   height: calc(100vh - var(--header-height)); /* 필요에 따라 조정 */
}

.swiper-slide {
   text-align:center;
   font-size:30px;
   background:#fff;

   /* Center slide text vertically */
   display:-webkit-box;
   display:-ms-flexbox;
   display:-webkit-flex;
   display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center
}
.zoom {
    transform: scale(1.2); /* 객체를 20% 확대 */
}