html {
  height: 100%;
  width: 100%;
}

.container {
    background-color: black;
    display: flex;
    justify-content: center; /* 가로 방향으로 가운데 정렬 */
    align-items: center; /* 세로 방향으로 가운데 정렬 */
    height: 20vh; /* 뷰포트의 높이만큼 설정하여 전체 화면을 차지하도록 함 */
}

@keyframes jump {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.moving-title {
    animation: jump 1s infinite;
}

@font-face {
    font-family: 'MabinogiClassicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MabinogiClassicR', sans-serif;
}